@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');;

$minwidth: 320px;
$maxwidth: 1000;
$fontfamily: 'Montserrat', sans-serif;
$color-1: #f7f7f7;
$color-2: #4d4959;
$color-3: #848789;
$color-4: #ff80ab;
$color-5: #ffb6c1;
$color-6: #000;
$color-7: rgba(60, 60, 60, 0.6);
$color-8: rgba(0, 0, 0, 0.8);
$padding-lg: 80px 0 80px 0;
$padding-sm: 60px 0 60px 0;
$padding-lg-s: 80px 0 0 0;
$padding-sm-s: 60px 0 0 0;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxwidth}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxwidth}));
	}
}

@import "nullstyle.scss";
@import "header.scss";
@import "hello.scss";
@import "about.scss";
@import "hair.scss";
@import "price_hair.scss";
@import "happy.scss";
@import "price_happy.scss";
@import "olaplex.scss";
@import "price_olaplex.scss";
@import "hyde.scss";
@import "price_hyde.scss";
@import "education.scss";
@import "price_education.scss";
@import "gallery.scss";
@import "contacts.scss";
@import "footer.scss";

// .container {
// 	max-width: 1000px;
// 	padding: 0 25px;
// 	margin: 0 auto;
// }

.page {
    font-size: 0;
}
.mb-5 {
    margin-bottom: 48px !important;
    @media (max-width: 767px) {
        margin-bottom: 24px !important;
    }
}
.price-btn {
    margin-top: 40px;
    text-align: center;
    &__item {
        position: relative;
        display: inline-block;
        color: $color-6;
        text-transform: uppercase;
        text-decoration: none;
        @include adaptiv-font(16, 16);
        overflow: hidden;
        padding: 20px 15px;
        transition: 0.2s;
        width: 230px;
        text-align: center;
        background: $color-5;
        border-radius: 100px;
        transition: all 0.5s ease-out;
    }
    &__item:hover {
        color: $color-6;
        box-shadow: 0px 5px 8px $color-8;
    }
    // @media (max-width: 767px) {
    //     margin-top: 40px;
    // }
}